/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #f1e9e9;
}

*::-webkit-scrollbar-thumb {
	background-color: #582965;
	border-radius: 10px;
	border: 3px solid #ffffff;
}
